Package: python-telepathy
Source: telepathy-python
Version: 0.15.19-1maemo1+0m6
Architecture: all
Maintainer: Bruno Araujo <bruno.araujo@indt.org.br>
Installed-Size: 872
Depends: python (>= 2.4), python-central (>= 0.6.11), python-dbus
Conflicts: telepathy-python
Replaces: telepathy-python
Provides: python2.5-telepathy, python2.6-telepathy, telepathy-python
Section: python
Priority: optional
Homepage: http://telepathy.freedesktop.org/wiki/Telepathy%20Python
Description: Python language bindings for telepathy
 telepathy-python is a Python package containing base classes for use in
 connection managers, and proxy classes for use in clients.
 .
 Telepathy is a D-Bus framework for unifying real time communication,
 including instant messaging, voice calls and video calls. It abstracts
 differences between protocols to provide a unified interface for
 applications.
Aegis-Manifest: empty
Original-Maintainer: Debian Telepathy maintainers <pkg-telepathy-maintainers@lists.alioth.debian.org>
Python-Version: >= 2.4
